body {
  background: pink;
  background-color: pink;
 }
h1 {
  fontsize:3em;
  color: blue;
  fontsize:3em;
  font-size: 3em; 
 }

h2 {
  fontweight:normal
  color: green;
  font-weight: normal;
  font-style: italic;
 }

.completed {
  font-family: 12px;
  font-size: 12px;
 }

#tasks .completed {
  background :#ccc;
  background-color: #ccc;
  text-decoration: underline;
}